<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  --> 
{% if num_pages > 0 %}
    <p>
        {% for i in pageList %}
            {% if i == '...' %}
                <span>{{ i }}</span>
            {% else %}
                {% if i == page %}
                    <a href="{{ i }}{{queryString}}" class="btn btn-lg btn-primary">{{ i }}</a>
                {% else %}
                    <a href="{{ i }}{{queryString}}" class="btn btn-lg btn-default">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </p>
{% endif %}